#pantallaAportacion:focus { 
    outline: none !important;
    border-color: rgb(136,194,255);
    box-shadow: 0 0 10px #719ECE;
}

#pantallaAportacion{
    border:solid 1px rgb(221,226,231); 
    text-align:rigth;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.scroll {
  margin-top: -20px;
  height:400px;
  overflow-y: scroll;
}

@media screen and (max-width: 999px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}
 i{
     width: 2;
     height: 2;
 }
